<div class="row">
  <div class="col header d-flex justify-content-between p-0">
    <div>
      <h2 class="my-0 text-white ms-4 py-4 fw-bold">SIDIJUS CASA LIBERTAD </h2>
    </div>
    <div class="dropdown align-self-end">
      <button data-bs-toggle="tooltip" data-bs-placement="top" title="Administrador de cuenta" class="p-0 d-flex align-items-center" type="button" id="" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="material-icons">account_circle</span>
        <span class="mx-2">Usuario</span>
        <span class="arrow-down material-icons">arrow_drop_up</span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Configuración</a></li>
        <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>

      </ul>
    </div>
  </div>
</div>
