
<div class="p-2 conf-visual" >
  <ul class="nav flex-column">
    <li class="nav-item">
      <button data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar nivel de contraste" type="button" (click)="contrast($event)">
        <span class="material-icons">
          contrast
          </span>
      </button>
    </li>
    <li class="nav-item">
      <button data-bs-toggle="tooltip" data-bs-placement="top" title="Aumentar tamaño de fuente" type="button" (click)="increaseText($event)">
        <span class="material-icons">
          text_increase
          </span>
      </button>
    </li>
    <li class="nav-item">
      <button data-bs-toggle="tooltip" data-bs-placement="top" title="Disminuir tamaño de fuente" type="button" (click)="decreaseText($event)">
        <span class="material-icons">
          text_decrease
          </span>
      </button>
    </li>
  </ul>
</div>
